*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*.gem
.bundle
Gemfile.lock
pkg/*
html
.*.sw?
tmp
results.html
coverage
.rvmrc
.DS_Store
*.log
log
Gemfile.lock
